<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-VoIpUSSD" version="0.0.1">
    <name>Ramy Mokako USSD Plugin</name>

    <description>A android cordova plugin version of VoIpUSSD.</description>
    <license>MIT</license>

    <keywords>cordova,android,ussd</keywords>
    <repo>https://github.com/rmxakalogistik/cordova-plugin-VoIpUSSD.git</repo>
    <issue>https://github.com/rmxakalogistik/cordova-plugin-VoIpUSSD/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/voIpUSSD.js" name="VoIpUSSD">
        <clobbers target="window.plugins.voIpUSSD" />
    </js-module>
  
   <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="VoIpUSSD">
                <param name="android-package" value="com.ramymokako.plugin.ussd.android.VoIpUSSD"/>
            </feature>
        </config-file>

        <source-file src="src/android" target-dir="app/src/main/java/com/cordova/ramymokako/plugin/ussd" />
    </platform>

</plugin>